#container {
    background-color: white;
}

#footer {
    background-color:silver;
}

#md_container {
    background-color: #F0E68C;
}

#post_info, #html_content, #md_content {
    font-weight: bold;
}

#html_content, #md_content {
    font-size:30px;
}

.common_background {
    margin: auto;
    width: 65%;
    border-radius: 15px;
}

#older_posts {
    font-size:30px;
}