{% extends "base.html" %}

{% block posts %}

    {% for post in posts %}
        {% if post.isInternalPost%}
            <div id="md_container" class="common_background">
        {% else %}
            <div id="container" class="common_background">
        {% endif %}

            {% autoescape off %}
                <p id="post_info">
                    {{ post.author }}
                    <br/>
                    {{ post.date }}
                <p/>
                {% if post.isInternalPost%}
                    <span id="md_content">
                        {{ post.content }}
                    <span/>
                {% else %}
                    <p id="html_content">
                        {{ post.title }}
                        {{ post.content }}
                    <p/>
                {% endif %}
            {% endautoescape %}

            </div>
    {% endfor %}

    <br/>
    <br/>
    {% if is_next_page %}
        <div id="footer" class="common_background">
            <a href={{ next_url }} id="older_posts"><b>older posts<b/><a/>
        <div/>
    {% endif %}
{% endblock %}