{% extends "base.html" %}

{% block posts %}

    {% for post in posts %}
        <div id="container">
            <p id="post_info">
                {{ post.author }}
                <br/>
                {{ post.date }}
            <p/>
            {% autoescape off %}
                {% if post.isInternalPost%}
                    <span id="post_content">
                        {{ post.content }}
                    <span/>
                {% else %}
                    <p id="post_content">
                        {{ post.title }}
                        {{ post.content }}
                    <p/>
                {% endif %}
            {% endautoescape %}

        </div>
    {% endfor %}

{% endblock %}